.loading {
	position: fixed;
	left: 0;
	right:0;
	bottom: 0;
	top: 0;
	display: flex;
	justify-content: center;
  align-items: center;
}
#videoHolder {
	/* width: auto;
	height: 100%;
	aspect-ratio: 16/9; 
	touch-action: none; */
}

#videoHolder video {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.performances {
	position: fixed;
	left: 0;
	top: 0;
	width: 180px;
	padding: 5px;
	color: #fff;
	font-size: 12px;
	background-color: rgba(255, 255, 255, .2);
	z-index: 4;
}

.virtual-gamepad {
	position: fixed;
	overflow-y: hidden; 
	left: 0; 
	top: 0; 
	height: 100%; 
	width: 100%; 
	opacity: .8;
	z-index: 9;
	touch-action: none;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.top-buttons,
.bot-buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.bot-buttons {
	height: 100%;
}

.top-buttons>.left,
.top-buttons>.right {
	flex: 1;
	padding-top: 3%;
}

.top-buttons>.left {
	padding-left: 5%;
}

.top-buttons>.right {
	text-align: right;
	padding-right: 5%;
}

.bot-buttons>.left {
	width: 100%;
	display: flex;
}

.center-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 3%;
}

.center-button>.extras {
	flex-direction: row;
	display: flex;
}

.extras>.middle {
	display: flex;
	flex-direction: column;
}

.bot-buttons>.right {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.bot-buttons>.right>.xyab {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.bot-buttons>.right>.xyab>.xb,
.bot-buttons>.right>.xyab>.a,
.bot-buttons>.right>.xyab>.y {
	display: flex;
	width: 100%;
}

.bot-buttons>.right>.xyab>.xb {
	flex-direction: row;
}

.bot-buttons>.right>.xyab>.xb>.x,
.bot-buttons>.right>.xyab>.xb>.b {
	display: flex;
	width: 100%;
}

.bot-buttons>.center>.extras {
	display: flex;
	width: 100%;
}

.joystick-container {
	z-index: 9999;
}

.rsb {
	width: 150px;
	position: relative;
}

#rst {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_Right_Stick_Click.png) no-repeat;
	background-size: 70px 70px;
	position:absolute;
	right: -40%;
	bottom: 10%;
}

.lsb {
	width: 150px;
	position: relative;
}

#lst {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_Left_Stick_Click.png) no-repeat;
	background-size: 70px 70px;
	position:absolute;
	left: 15%;
	bottom: 10%;
}

#lt {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_LT_Unpressed.png) no-repeat;
	background-size: 70px 70px;
}

#lt.pressed {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_LT_Pressed.png) no-repeat;
	background-size: 70px 70px;
}

#lb {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_LB_Unpressed.png) no-repeat;
	background-size: 70px 70px;
}

#lb.pressed {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_LB_Pressed.png) no-repeat;
	background-size: 70px 70px;
}

#rb {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_RB_Unpressed.png) no-repeat;
	background-size: 70px 70px;
}

#rb.pressed {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_RB_Pressed.png) no-repeat;
	background-size: 70px 70px;
}

#rt {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_RT_Unpressed.png) no-repeat;
	background-size: 70px 70px;
}

#rt.pressed {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_RT_Pressed.png) no-repeat;
	background-size: 70px 70px;
}

#x {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_X_Unpressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto 20px auto auto;
}

#x.pressed {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_X_Pressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto 20px auto auto;
}

#y {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_Y_Unpressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto;
}

#y.pressed {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_Y_Pressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto;
}

#a {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_A_Unpressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto;
}

#a.pressed {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_A_Pressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto;
}

#b {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_B_Unpressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto auto auto 20px;
}

#b.pressed {
	width: 55px;
	height: 55px;
	background: url(../../assets/Xbox360/360_B_Pressed.png) no-repeat;
	background-size: 55px 55px;
	margin: auto auto auto 20px;
}

#menu {
	padding-left: 30px;
}

#nexus {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_Guide_Unpressed.png) no-repeat;
	background-size: 70px 70px;
}

#nexus.pressed {
	width: 70px;
	height: 70px;
	background: url(../../assets/Xbox360/360_Guide_Pressed.png) no-repeat;
	background-size: 70px 70px;
}

#view {
	padding-right: 30px;
}

.dpad {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 10%;
}

.d-pad {
	display: inline-block;
	position: relative;
	width: 125px;
	height: 125px;
	border-radius: 48%;
	overflow: hidden;
}

/* .d-pad:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 5%;
	transform: translate(-50%, -50%);
	width: 66.6%;
	height: 66.6%;
	background: #4c4c4c;
} */

.d-pad button {
	display: block;
	position: absolute;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	width: 33.3%;
	height: 43%;
	line-height: 40%;
	color: #fff;
	background: #4c4c4c;
	text-align: center;
}

.d-pad button:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 5px;
	border-style: solid;
	transition: all 0.25s;
}

.d-pad button.up {
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 17% 17% 50% 50%;
}

.d-pad button.up.hover {
	background: linear-gradient(0deg, #4c4c4c 0%, #5f5f5f 50%);
}

.d-pad button.up:before {
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-width: 0 6px 9px 6px;
	border-color: transparent transparent #aaa transparent;
}

.d-pad button.right {
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	border-radius: 50% 17% 17% 50%;
}

.d-pad button.right.hover {
	background: linear-gradient(90deg, #4c4c4c 0%, #5f5f5f 50%);
}

.d-pad button.right:before {
	right: 40%;
	top: 50%;
	transform: translate(50%, -50%);
	border-width: 6px 0 6px 9px;
	border-color: transparent transparent transparent #aaa;
}

.d-pad button.down {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 50% 50% 17% 17%;
}

.d-pad button.down.hover {
	background: linear-gradient(180deg, #4c4c4c 0%, #5f5f5f 50%);
}

.d-pad button.down:before {
	bottom: 40%;
	left: 50%;
	transform: translate(-50%, 50%);
	border-width: 9px 6px 0px 6px;
	border-color: #aaa transparent transparent transparent;
}

.d-pad button.left {
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	border-radius: 17% 50% 50% 17%;
}

.d-pad button.left.hover {
	background: linear-gradient(-90deg, #4c4c4c 0%, #5f5f5f 50%);
}

.d-pad button.left,
.d-pad button.right {
	width: 43%;
	height: 33%;
}

.d-pad button.left:before {
	left: 40%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-width: 6px 9px 6px 0;
	border-color: transparent #aaa transparent transparent;
}

.d-pad button.up-right {
	top: 0;
	left: 100%;
	transform: translate(-100%, 0);
	width: 42px;
	height: 42px;
	border-left: 2px solid #868686;
	border-bottom: 2px solid #868686;
	z-index: 2;
	border-radius: 5px;
	background: #404040;
}

.d-pad button.up-right:before {
	display: none;
}

.d-pad button.up-right.hover {
	background: linear-gradient(45deg, #404040 0%, #5f5f5f 50%);
}

.d-pad button.up-left {
	top: 0;
	left: 0%;
	transform: translate(0, 0);
	width: 42px;
	height: 42px;
	border-right: 2px solid #868686;
	border-bottom: 2px solid #868686;
	z-index: 2;
	border-radius: 5px;
	background: #404040;
}

.d-pad button.up-left:before {
	display: none;
}

.d-pad button.up-left.hover {
	background: linear-gradient(-45deg, #404040 0%, #5f5f5f 50%);
}

.d-pad button.down-right {
	top: 100%;
	left: 100%;
	transform: translate(-100%, -100%);
	width: 42px;
	height: 42px;
	border-left: 2px solid #868686;
	border-top: 2px solid #868686;
	z-index: 2;
	border-radius: 5px;
	background: #404040;
}

.d-pad button.down-right:before {
	display: none;
}

.d-pad button.down-right.hover {
	background: linear-gradient(135deg, #404040 0%, #5f5f5f 50%);
}

.d-pad button.down-left {
	top: 100%;
	left: 0;
	transform: translate(0, -100%);
	width: 42px;
	height: 42px;
	border-right: 2px solid #868686;
	border-top: 2px solid #868686;
	z-index: 2;
	border-radius: 5px;
	background: #404040;
}

.d-pad button.down-left:before {
	display: none;
}

.d-pad button.down-left.hover {
	background: linear-gradient(-135deg, #404040 0%, #5f5f5f 50%);
}